.ncc__content{
    position: relative;

    margin: auto 7%;
}

.ncc__content--image{
    text-align: center;
    height: 130px;
}

.ncc__content--image h1{
    padding-top: 40px;
}
.ncc__content--image h1 span{
    color: red;
}

.ncc__content__introduce{
    text-align: center;
    background-color: #efefef;
    padding: 20px 20%;
}
.ncc__content__courses{
    display: flex;
}

.ncc__content__course{
    flex-basis: 30%;
    margin: auto;
}