*{

    font-family: Roboto;
    font-style: normal;
}

.container{
    display: flex;
}

.sidebar__container{
    height: 100vh;
    flex-grow: 2;
    background-color: #191718;
}

.content__container{
    height: 100vh;
    flex-grow: 8;
}